<footer class="footer p-10 bg-amber-950 text-neutral-content">
  <aside>
    <a href="/" class="flex items-center">
      <img src="/assets/img/logo-daniela-zapata-white.png" alt="Logo Daniela Zapata" class="h-[4rem] w-[4rem]">
    </a>
    <p class="text-Poppins">Daniela Zapata.<br>FullStack Developer | Cibersecurity </p>
  </aside>
  <nav>
    <h6 class="footer-title">Social</h6>
    <div class="grid grid-flow-col gap-4">
      <a href="https://www.linkedin.com/in/danielazapataquintana/"><i class="fab fa-linkedin fa-2x"></i></a>
      <a href="https://github.com/DANIELAZAPATA0724"><i class="fab fa-github fa-2x"></i></a>
      <a href="https://mail.google.com/"><i class="fas fa-envelope fa-2x"></i></a>
    </div>
  </nav>
</footer>

